/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v14-cyrillic_latin-regular.eot');
  src: url('../fonts/ubuntu-v14-cyrillic_latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ubuntu-v14-cyrillic_latin-regular.woff2')
      format('woff2'),
    url('../fonts/ubuntu-v14-cyrillic_latin-regular.woff')
      format('woff'),
    url('../fonts/ubuntu-v14-cyrillic_latin-regular.ttf')
      format('truetype'),
    url('../fonts/ubuntu-v14-cyrillic_latin-regular.svg#Ubuntu')
      format('svg');
}

/* ubuntu-700 - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v14-cyrillic_latin-700.eot');
  src: url('../fonts/ubuntu-v14-cyrillic_latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ubuntu-v14-cyrillic_latin-700.woff2')
      format('woff2'),
    url('../fonts/ubuntu-v14-cyrillic_latin-700.woff') format('woff'),
    url('../fonts/ubuntu-v14-cyrillic_latin-700.ttf')
      format('truetype'),
    url('../fonts/ubuntu-v14-cyrillic_latin-700.svg#Ubuntu')
      format('svg');
}
