<div class="contact-form">

  <span>Напишите нам!</span>

  <form action="https://submit-form.com/zErEbGADAXmOnsTk25xp9" target="_self">

    <label>
      Ваше имя
      <input type="text" name="name" placeholder="Ваше имя">
    </label>

    <label>
      E-mail
      <input type="email" name="email" placeholder="placeholder@gmail.com">
    </label>

    <label>
      Сообщение
      <textarea placeholder="Ваше сообщение..."></textarea>
    </label>

    <button type="submit" class="button button_form">Отправить</button>

  </form>
</div>