<div class="cards">
  <div class="container container_cards">
    <h2 class="cards__header editable">
      Погрузитесь в новую, цифровую эпоху!
    </h2>
    <div class="cards__wrapper">

      {% for feature in site.features  %}

      <div class="cards__item">
        <img src="{{feature.image}}" alt="Feature image" class="cards__image" />
        <h3 class="cards__title">{{feature.title}}</h3>
        <p class="cards__description">{{feature.description}}</p>
        <a href="/features/tech" class="cards__link editable">Read more...</a>
      </div>

      {% endfor %}

    </div>
  </div>
</div>