<div class="contacts-info">

  <div class="contacts-info__image-wrap">
    <div>
      <img src="../assets/img//fogg-message-sent.png" alt="Message image">
    </div>
  </div>

  <div class="contacts-info__content">
    <span class="contacts-info__title">Адрес</span>
    <p>{{site.data.site.address}}</p>

    <span class="contacts-info__title">Телефоны</span>
    <div class="contacts-info__wrap">
      <svg>
        <use xlink:href="../assets/icons/call.svg#call"></use>
      </svg>
      <p>+62-812-7313-4321</p>
    </div>
    <div class="contacts-info__wrap">
      <svg>
        <use xlink:href="../assets/icons/call.svg#call"></use>
      </svg>
      <p>+62-817-000-1234</p>
    </div>

    <span class="contacts-info__title">Онлайн</span>
    <div class="contacts-info__wrap">
      <svg>
        <use xlink:href="../assets/icons/globe.svg#globe"></use>
      </svg>
      <p>abrakadabra.com</p>
    </div>
    <div class="contacts-info__wrap">
      <svg>
        <use xlink:href="../assets/icons/envelope.svg#envelope"></use>
      </svg>
      <p>{{ site.data.site.email }}</p>
    </div>
  </div>

</div>