<section>
  <div class="container">

    <div class="row">
      <div class="caption caption_news">
        <p>Последнее</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        {% for post in site.blog limit:1  %}

        <article class="news-item news-item__big">
          <div class="news-item__image-wrapper">
            <div>
              <img src="{{ post.image }}" alt="news image">
            </div>
          </div>
          <div class="news-item__content">
            <a href="{{ post.url }}">{{post.title}}</a>
            <p>{{ post.desc  }} </p>
            <div class="news-item__info">
              <div class="news-item__meta">
                <span>Имя автора</span>
                <small>5 апреля</small>
              </div>
              <div class="news-item__actions">
                <button>
                  <svg>
                    <use xlink:href="../assets/icons/bookmark.svg#bookmark"></use>
                  </svg>
                </button>
                <button>
                  <svg>
                    <use xlink:href="../assets/icons/share.svg#share"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </article>

        {% endfor %}

      </div>
    </div>

    <div class="row">

      {% for post in site.blog  %}

      {% if post == site.blog.first %}
      {% continue %}
      {% endif %}

      <div class="col-12 col-sm-6 col-md-4">
        <article class="news-item news-item__vertical">
          <div class="news-item__image-wrapper">
            <div>
              <img src="{{ post.image }}?nf_resize=fit&h=300" alt="news image">
            </div>
          </div>
          <div class="news-item__content">
            <a href="/">{{ post.title }}</a>
            <p>{{ post.desc }}</p>
            <div class="news-item__info">
              <div class="news-item__meta">
                <span>Имя автора</span>
                <small>5 апреля</small>
              </div>
              <div class="news-item__actions">
                <button>
                  <svg>
                    <use xlink:href="../assets/icons/bookmark.svg#bookmark"></use>
                  </svg>
                </button>
                <button>
                  <svg>
                    <use xlink:href="../assets/icons/share.svg#share"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>

      {% endfor %}

    </div>

  </div>
</section>