<section>
  <div class="container container_projects">

    <div class="caption caption_projects">
      <h3>Завершенные проекты</h3>
      <p>Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей.</p>
    </div>

    <ul class="projects-list">

      <li class="projects-list__item projects-list__item_big"
        style="background-image: url('../assets/img/projects/home-app.jpg');">
        <a href="#" class="projects-list__link-wrap">
          <div class="projects-list__wrap">
            <div class="projects-list__inner">
              <div class="projects-list__title-wrap">
                <h4>Smart Home Installation</h4>
                <span>In Muarakana Housing Estate</span>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item" style="background-image: url('../assets/img/projects/phone-app.jpg');">
        <a href="#" class="projects-list__link-wrap">
          <div class="projects-list__wrap">
            <div class="projects-list__inner">
              <div class="projects-list__title-wrap">
                <h4>Sparklite App</h4>
                <span>Marketplace</span>
              </div>
            </div>
          </div>
        </a>
      </li>

      <li class="projects-list__item" style="background-image: url('../assets/img/projects/car-app.jpg');">
        <a href="#" class="projects-list__link-wrap">
          <div class="projects-list__wrap">
            <div class="projects-list__inner">
              <div class="projects-list__title-wrap">
                <h4>Car-Rapetition App</h4>
                <span>Board</span>
              </div>
            </div>
          </div>
        </a>
      </li>

    </ul>

  </div>
</section>