<section class="sponsors">

  <div class="container container_sponsors">

    <div class="sponsors__caption-wrapper">
      <h3>Наши лучшие клиенты</h3>
      <p>Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов).</p>
    </div>

    <div class="sponsors_grid">
      <div><img src="../assets/img/sponsors/arch-daily.png" alt="arch-daily"></div>
      <div><img src="../assets/img/sponsors/architectural-digest.png" alt="architectural-digest"></div>
      <div><img src="../assets/img/sponsors/architizer.png" alt="architizer"></div>
      <div><img src="../assets/img/sponsors/car-and-driver.png" alt="car-and-driver"></div>
      <div><img src="../assets/img/sponsors/contemporist.png" alt="contemporist"></div>
      <div><img src="../assets/img/sponsors/dwell.png" alt="dwell"></div>
      <div><img src="../assets/img/sponsors/houzz.png" alt="houzz"></div>
      <div>More clients</div>
    </div>
  </div>

  </div>

  {% include footer.html %}

</section>