.caption {
  display: flex;
  flex-direction: column;
  color: white;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
  }

  & h3 {
    margin-bottom: 0;
    font-family: var(--f-title);
    font-size: 2.2rem;

    @media (min-width: 992px) {
      padding-left: 2rem;
      margin: 0;
      font-size: 3rem;
    }
  }

  & p {
    max-width: 600px;
    font-size: 1.2rem;
    opacity: 0.75;

    @media (min-width: 992px) {
      margin: 0;
      margin-left: 3rem;
    }
  }
}

.caption_projects {
  margin: 1rem 0 3rem 0;
  color: var(--c-regular);
}

.caption_news {
  & p {
    padding: 2rem 0;
    margin: 0;
    font-family: var(--f-title);
    color: var(--c-light);
  }
}
