.cards {
  position: relative;
  padding: 3rem 0;
  color: var(--c-regular);

  @media (min-width: 998px) {
    padding-bottom: 8rem;
  }
}

.cards__header {
  max-width: 17em;
  font-family: var(--f-title);
  font-size: 2em;

  @media (min-width: 992px) {
    position: absolute;
    max-width: 10em;
    font-size: 3em;
  }
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;

  @supports (grid-auto-flow: dense) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    max-width: 920px;
    margin-left: auto;
  }
}

.cards__item {
  max-width: 380px;
  padding: 0 2.5em 3.2em 2.5em;
  margin: 300px 1rem 0 1rem;
  box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
  transition: box-shadow 0.2s;

  @supports (grid-auto-flow: dense) {
    grid-column: span 3;
    justify-self: center;
    margin-top: 4em;
    margin-right: 0;
    margin-left: 0;
  }

  &:hover,
  &:focus-within {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  }

  @media (min-width: 850px) {
    grid-column: 2 / span 3;
  }
}

.cards__item:nth-child(even) {
  @media (min-width: 850px) {
    @supports (grid-auto-flow: dense) {
      grid-column: 1 / 2;
      transform: translateY(50%);
    }
  }
}

/* .cards__item:not(:first-child) {
  margin-top: 4em;
} */

.cards__image {
  display: block;
  width: 224px;
  height: 180px;
  object-fit: contain;
  transform: translateY(-10%);
}

.cards__title {
  font-family: var(--f-title);
  font-size: 1.1em;
  font-weight: bold;
}

.cards__description {
  font-size: 1em;
  line-height: 1.2;
}

.cards__link {
  display: block;
  margin-top: 2em;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--c-light);
  text-decoration: none;
}
