.contact-form {
  z-index: 2;
  width: 100%;
  padding: 3.5rem 1rem;
  margin: 50px auto 0 auto;
  color: var(--c-regular);
  box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
  transition: box-shadow 0.2s;

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 1200px) {
    transform: translateX(-20%);
  }

  & > span {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &:hover,
  &:focus-within {
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  }

  & form {
    display: flex;
    flex-direction: column;

    & label {
      padding: 1rem 0;
    }

    & input,
    & textarea {
      display: block;
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      color: var(--c-regular);
      resize: none;
      border: 2px solid rgba(16, 112, 177, 0.2);
      border-radius: 7px;

      &:focus {
        border: 2px solid rgba(16, 112, 177, 0.5);
      }
    }

    & textarea {
      min-height: 80px;
    }
  }
}
