.footer {
  font-size: 16px;
  color: white;
  background: var(--c-darker);
  border-radius: 0 200px 0 0;

  @media (min-width: 998px) {
    margin-right: 5vw;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  &_bottom {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: -100%;
      height: 1px;
      content: '';
      background: white;
      opacity: 0.4;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  @media (min-width: 998px) {
    flex-direction: row;
    padding: 4rem 0;
  }
}

.footer__caption-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  & h6 {
    max-width: 80%;
    margin: 1rem 0 2rem 0;
    font-family: var(--f-title);
    font-size: 1.5rem;

    @media (min-width: 768px) {
      max-width: 500px;
      font-size: 2.2rem;
    }
  }

  & p {
    max-width: 570px;
    font-size: 1.2rem;
    opacity: 0.75;
  }
}

.footer__info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 998px) {
    width: auto;
  }
}

.footer__info-item {
  max-width: 500px;
  padding: 10px 1.3em;
  font-size: 1rem;

  &::before {
    margin-right: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    content: attr(data-letter);
  }
}

.footer__list {
  padding: 1.3em 2em;

  & span {
    font-family: var(--f-title);
    font-size: 1.3em;
    font-weight: bold;
  }

  & ul {
    padding: 0;
    margin: 0;
    margin-top: 1rem;

    @media (min-width: 998px) {
      margin-top: calc(10px + 1.3em);
    }
  }

  & li {
    list-style-type: none;
  }

  & a {
    display: block;
    padding: 0.5em;
    padding-left: 0;
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.75;
    }
  }
}

.footer__copy {
  padding: 5px 0;
  font-size: 1rem;
  text-align: center;
  opacity: 0.75;
}

.footer .logo {
  display: inline-flex;

  &__title {
    color: white;
  }
}
