.projects-list {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0;
  padding-bottom: 2rem;
  margin: 0 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4rem;
    margin: 0 auto;
  }
}

.projects-list__item {
  overflow: hidden;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;

  @media (min-width: 768px) {
    width: 47%;
  }

  &:not(:first-child) {
    margin-top: 1rem;

    @media (min-width: 768px) {
      margin-top: 2.5rem;
    }
  }

  &_big {
    width: 100%;

    & .projects-list__wrap {
      @media (min-width: 768px) {
        padding-bottom: 40%;
      }

      &::before {
        background: linear-gradient(
          89.97deg,
          #1f3f68 3.62%,
          rgba(31, 63, 104, 0.37) 97.78%
        );
      }
    }
  }
}

.projects-list__link-wrap {
  &:hover .projects-list__image-placeholder,
  &:focus .projects-list__image-placeholder {
    transform: scale(1.1);
  }
}

.projects-list__wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(
      309.18deg,
      rgba(66, 165, 245, 0.4) -1.71%,
      rgba(21, 101, 192, 0.6) 74.54%
    );
    border-radius: 10px;
  }
}

.projects-list__image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 0.2s;
}

.projects-list__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects-list__title-wrap {
  padding: 1rem;
  color: white;

  & h4 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
  }

  & span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    opacity: 0.9;
  }
}
