.button {
  font-size: 16px;
  font-size: 1.2em;
  display: inline-block;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  transition: box-shadow 0.2s;
  padding: 0.8em 1.6em;
  background: var(--c-light);
  text-decoration: none;
  color: white;
  border-radius: 10px;

  &:hover {
    box-shadow: 5px 5px 10px rgba(53, 110, 173, 0.1);
  }
  &:focus {
    outline-offset: 2px;
    outline-color: black;
  }
}

.button_front-page {
  margin-top: 50px;
}
