.button {
  display: inline-block;
  padding: 0.8em 1.6em;
  font-size: 16px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  background: var(--c-light);
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgba(53, 110, 173, 0.2);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 5px 5px 10px rgba(53, 110, 173, 0.1);
  }

  &:focus {
    outline-color: black;
    outline-offset: 2px;
  }
}

.button_front-page {
  margin-top: 10px;

  @media (min-width: 370px) {
    margin-top: 40px;
  }
}
