.button {
  display: inline-block;
  padding: 0.8em 1.6em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  background: var(--c-medium);
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgba(53, 110, 173, 0.2);
  transition: background 0.2s, box-shadow 0.2s;

  &:hover {
    background: var(--c-medium-bold);
    box-shadow: none;
  }

  &:focus {
    outline-color: black;
    outline-offset: 2px;
  }
}

.button_front-page {
  margin-top: 10px;

  @media (min-width: 370px) {
    margin-top: 40px;
  }
}

.button_footer {
  background: var(--c-light);
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  opacity: 1;
  transition: opacity 0.2s;

  @media (min-width: 998px) {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    margin-right: 6rem;
  }

  &:hover {
    background: var(--c-light);
    opacity: 0.8;
  }
}

.button_form {
  background: var(--c-light);
  margin-top: 1.5rem;

  &:hover {
    background: var(--c-darker);
  }
}
