.caption {
  display: flex;
  flex-direction: column;
  color: white;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
  }

  & h3 {
    font-size: 2.2rem;
    margin-bottom: 0;
    font-family: var(--f-title);

    @media (min-width: 992px) {
      padding-left: 2rem;
      font-size: 3rem;
      margin: 0;
    }
  }

  & p {
    font-size: 1.2rem;
    max-width: 600px;
    opacity: 0.75;

    @media (min-width: 992px) {
      margin: 0;
      margin-left: 3rem;
    }
  }
}

.caption_projects {
  color: var(--c-regular);
  margin: 1rem 0 3rem 0;
}
