.cards {
  color: var(--c-regular);
  padding: 3rem 0;
  font-size: 16px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.cards__header {
  font-size: 2em;
  max-width: 17em;

  @media (min-width: 992px) {
    font-size: 3em;
    position: absolute;
    max-width: 10em;
  }
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  max-width: 920px;
  margin-left: auto;
}

.cards__item {
  grid-column: span 3;
  justify-self: center;
  padding: 0 2.5em 3.2em 2.5em;
  margin-top: 4em;
  max-width: 380px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus-within {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  }

  @media (min-width: 850px) {
    grid-column: 2 / span 3;
  }
}

.cards__item:nth-child(even) {
  @media (min-width: 850px) {
    grid-column: 1 / 2;
    transform: translateY(50%);
  }
}

/* .cards__item:not(:first-child) {
  margin-top: 4em;
} */

.cards__image {
  display: block;
  width: 224px;
  height: 180px;
  object-fit: contain;
  height: auto;
  transform: translateY(-10%);
}

.cards__title {
  font-size: 1.2em;
  font-weight: bold;
}

.cards__description {
  font-size: 1em;
}

.cards__link {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--c-light);
  margin-top: 2em;
  display: block;
  font-weight: bold;
}
