.cards {
}

.cards__header {
}

.cards__wrapper {
}

.cards__item {
}

.cards__image {
  display: block;
  width: 200px;
  height: auto;
}

.cards__title {
}

.cards__description {
}

.cards__link {
}
