.container {
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

.container_header {
  display: flex;
  align-items: center;
}

.container_front-page {
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container_contacts {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 5rem;

  @media (min-width: 998px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.container_all-news {
  padding-bottom: 2rem;
}

.container_rich {
  padding: 2rem 10px;
  max-width: 1000px;

  & h1 {
    margin-bottom: 0.5rem;
  }

  & p {
    margin-top: 1.5rem;
  }

  & small {
    color: var(--c-darker);
    margin-right: 0.4rem;
  }

  & img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}
