.fake-header {
  height: 80px;
  display: none;

    @media (min-width: 768px) {
    display: block;
    height: 80px;
  }
}

.header {
  width: 100%;
  font-size: 16px;
  height: 80px;

  @media (min-width: 768px) {
    position: fixed;
    margin: 0 auto;
    display: flex;
    background: white;
    z-index: 10;
    transition: height 0.2s;
    top: 0;
  }
}

.header_sticky {
  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    height: 50px;

    max-width: none;
    box-shadow: 0 0 8px black;
  }
}
