.nav {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: var(--c-regular);

  &_visible {
    display: block;
    visibility: visible;

    & .nav__link {
      color: white;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    display: block;
    visibility: visible;
    background: transparent;
    font-size: 18px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  padding: 1.8em;
  text-decoration: none;
  display: block;
  color: var(--c-regular);

  @media (min-width: 768px) {
    padding: 0.5em 0.8em;
  }
}
