.news-item {
  display: flex;
  flex-direction: column;
  color: var(--c-regular);
  padding-bottom: 2rem;
}

.news-item__image-wrapper {
  height: 100%;
  width: 100%;

  & div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.news-item__content {
  & h4 {
    font-family: var(--f-title);
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  & p {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.news-item__info {
  justify-content: space-between;
  display: flex;
}

.news-item__meta {
  & span {
    display: block;
    font-weight: bold;
  }

  & small {
    display: block;
    margin-top: 5px;
    opacity: 0.9;
  }
}

.news-item__actions {
  & button {
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    margin: 0.5rem;
  }

  & svg {
    fill: var(--c-darker);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
